@layer components {
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dashboard {
    display: flex;
    flex-direction: column;
  }
  .header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .social-media-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .overviews-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
